* {
    font-size: 17px;
}

body {
    height: 600px;
    /*background-color: #F3F5FC;*/
    /*display: inline-block;*/
}

header {
    height: 10%;
}

.logo {
    width: 100px;
    /* float: left top; */
    margin: 10px;
}

main {
    display: flex;
    height: 80%;
}

form {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form .container-botones {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ingresarTexto {
    width: 500px;
    height: 300px;
    border: none;
    color: #0A3871;
}

.signo {
    display: inline-block;
    width: 1.23em;
    color: white;
    text-align: center;
    background-color: #495057;
    border-radius: 50%;
}

.textoLetrasMinusculas {
    font-size: 12px;
    margin: 0;
}

.campoIzquierda .container {
    display: flex;
    margin: 0 5%;
    justify-content: space-between;
}

.boton {
    display: flex;
    flex-direction: row;
    width: 49%;
    background-color: #D8DFE8;
    height: 2.5rem;
    border-radius: 24px;
    border-color: #0A3871;
    color: #0A3871;
}

#guardar {
    background-color: #0A3871;
    color: white;
    border: none;
    text-decoration:none;
    justify-content: center;
    line-height: 2.5rem;
}

#guardar:hover, #cancelar:hover {
    transition: 0.5s;
    opacity: 0.7;
}

#guardar:active, #cancelar:active {
    opacity: 1;
    transition: 0.5s;
}

#cancelar:hover {
    background-color: #0A3871;
    opacity: 0.5;
    color:#edf2f8;
}

#cancelar:active {
    background-color: #D8DFE8;
    color: #0A3871;
    border-color: #0A3871;
}

/*PARTE RESPONSIVA*/

/*TABLET (810px X 1080px)*/

@media(max-width: 810px) {
    body {
        height: 1080px;
    }

    main {
        height: 90%;
    }

    form {
        margin: 7rem auto;
        width: 90%;
    }

    .ingresarTexto {
        width: 100%;
    }

}

/*CELULAR (428px X 926px)*/

@media (max-width: 428px) {
    main {
        flex-direction: column;
        height: 70%;
    }

    form {
        margin: 15% auto 0;
        height: 100%;
        width: 95%;
    }

    .ingresarTexto {
        width: 100%;
    }

    .textoLetrasMinusculas {
        margin: 10px;
    }

    form .container-botones {
        flex-direction: column;
        justify-content: space-around;
        height: 24%;
    }

    .boton {
        width: 100%;
        height: 34%;
    }
}