* {
    font-size: 17px;
}

header {
    padding: 1vh 0;
}

.logo {
    width: 6rem;
}

main {
    display: flex;
    height: 80vh;
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form .container-botones {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ingresarTexto {
    width: 50vw;
    height: 40vh;
    border: none;
    color: #0A3871;
    max-width: 500px;
    max-height: 300px;
}

.signo {
    display: inline-block;
    width: 1.23em;
    color: white;
    text-align: center;
    background-color: #495057;
    border-radius: 50%;
}

.textoLetrasMinusculas {
    font-size: 12px;
    margin: 0;
}

.campoIzquierda .container {
    display: flex;
    margin: 0 5%;
    justify-content: space-between;
}

.boton {
    display: flex;
    flex-direction: row;
    width: 49%;
    background-color: #D8DFE8;
    height: 2.5rem;
    border-radius: 24px;
    border-color: #0A3871;
    color: #0A3871;
}

#guardar {
    background-color: #0A3871;
    color: white;
    border: none;
    text-decoration:none;
    justify-content: center;
    line-height: 2.5rem;
}

#guardar:hover, #cancelar:hover {
    transition: 0.5s;
    opacity: 0.7;
}

#guardar:active, #cancelar:active {
    opacity: 1;
    transition: 0.5s;
}

#cancelar:hover {
    background-color: #0A3871;
    opacity: 0.5;
    color:#edf2f8;
}

#cancelar:active {
    background-color: #D8DFE8;
    color: #0A3871;
    border-color: #0A3871;
}

/*PARTE RESPONSIVA*/

/*TABLET (810px X 1080px)*/

@media(max-width: 810px) {

    main {
        height: 75vh;
    }

    form {
        padding: 10vh 4vw;
        width: 90vw;
    }

    .ingresarTexto {
        max-width: 400px;
        width: 65%;
        height: 30%;
    }

    .textoLetrasMinusculas {
        margin: 0 5vw;
        text-align: center;
    }

    form .container-botones {
        width: 65%;
        min-width: 364px;
    }

}

/*CELULAR (428px X 926px)*/

@media (max-width: 428px) {
    main {
        flex-direction: column;
        height: 79vh;
    }

    form {
        height: 100%;
        width: 95%;
        padding: 0;
        justify-content: space-evenly;
    }

    .ingresarTexto {
        width: 100%;
    }

    .textoLetrasMinusculas {
        margin: 10px;
    }

    form .container-botones {
        flex-direction: column;
        justify-content: space-around;
        height: 15%;
        align-items: center;
    }

    .boton {
        width: 50%;
    }
}