header {
    padding: 1vh 0;
}

.logo {
    width: 6rem;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.container-ahorcado-e-input {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: inherit;
    align-items: flex-end;
    max-width: 500px;
}

/*STYLE PARA container-ahorcado*/
.container-ahorcado {
    width: 19vw;
    height: 48vh;
    max-width: 200px;
}

.container-input-y-mensaje {
    display: flex;
    flex-direction: column-reverse;
    height: 7rem;
    justify-content: space-between;
    align-items: center;
}

#graficoAhorcado {
    height: 100%;
    width: 100%;
}

.container-input {
    height: fit-content;
}

form .container-input-y-mensaje .mensaje {
    font-size: 1.5rem;
    color: red;
}

form .container-input-y-mensaje .ganaste {
    font-size: 1.5rem;
    color: green;
}

/*STYLE PARA container-palabra*/
.container-palabra {
    height: 2rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: 1rem;
    max-width: 770px;
}
/*STYLE para container-letras*/
.container-letras {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-letra {
    height: 100%;
    width: 10%;
    color: #0A3871;
    text-align: center;
}
/*STYLE para container-lineas*/
.container-lineas {
    width: 90%;
    height: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.guion {
    display: flex;
    height: 5px;
    width: 8%;
    background-color: #0A3871;
}

.container-letras-incorrectas {
    background-color: #ecebeb;
    width: 70vw;
    height: 10vh;
    text-align: center;
    color: #0A3871;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    max-width: 800px;
}
/*STYLE PARA container-botones*/
.container-botones {
    height: 10%;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    max-width: 500px;
}

.boton {
    display: flex;
    width: 43%;
    background-color: #D8DFE8;
    height: 2.5rem;
    border-radius: 24px;
    border-color: #0A3871;
    color: #0A3871;
}

#nuevoJuego {
    background-color: #0A3871;
    color: white;
}

#nuevoJuego:hover, #desistir:hover {
    transition: 0.5s;
    opacity: 0.7;
    width: 45%;
    height: 2.8rem;
}

#nuevoJuego:active, #desistir:active {
    width: 44%;
    height: 2.7rem;
    opacity: 1;
    transition: 0.5s;
}

#desistir:hover {
    background-color: #0A3871;
    opacity: 0.5;
    color:#edf2f8;
}

#desistir:active {
    background-color: #D8DFE8;
    color: #0A3871;
    border-color: #0A3871;
    opacity: 1;
}



/*Para iPad*/
@media (max-width: 810px) {

    header {
        display: flex;
        align-items: center;
    }

    header .logo {
        height: 3rem;
    }

    main {
        height: 78vh;
    }

    form {
        justify-content: space-evenly;
        margin: 0;
        height: 100%;
    }

    form .container-ahorcado-e-input {
        height: 60%;
        width: 80%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    form .container-ahorcado {
        width: 35vw;
        height: 34vh;
    }

    form .container-input-y-mensaje {
        flex-direction: column;
        width: 50vw;
        justify-content: space-around;
        margin-top: 1rem;
    }

    form .ingresarTexto {
        width: 90%;
        height: 40%;
    }

    form .container-botones {
        width: 100%;
        height: 5.5%;
        justify-content: space-around;
    }

    .boton {
        width: 45%;
        height: 100%;
        margin: 0;
    }

    #nuevoJuego:hover, #desistir:hover {
        width: 47%;
        height: 105%;
    }

    #nuevoJuego:active, #desistir:active {
        width: 46%;
        height: 102%;
    }
}

@media(max-width: 428px) {

    header .logo {
        height: 2.5rem;
    }

    main {
        height: 75%;
    }

    form {
        margin: 0 1rem;
    }

    form .container-ahorcado {
        width: 36vw;
        height: 30vh;
        max-width: 300px;
    }

    form .container-input-y-mensaje {
        flex-direction: column;
        height: 15vw;
    }

    form .container-input-y-mensaje .mensaje {
        font-size: 1rem;
    }

    form .container-palabra {
        width: 90%;
    }

    form .container-letras-incorrectas {
        width: 90%;
        height: 6vh;
    }

    form .container-botones {
        height: 12vh;
        flex-direction: column;
        width: 60%;
        margin: 0.5rem;
    }

    .boton {
        width: 100%;
        margin: auto;
        height: 40%;
    }

    #nuevoJuego:hover, #desistir:hover {
        width: 100%;
        height: 45%;
    }

    #nuevoJuego:active, #desistir:active {
        height: 43%;
    }
}