body {
    height: 600px;
}

header {
    height: 10%;
}

.logo {
    width: 6rem;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80%;
}

form {
    margin: 0 auto;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/*STYLE PARA container-ahorcado*/
.container-ahorcado {
    background-color: aquamarine;
    height: 75%;
}
/*STYLE PARA container-palabra*/
.container-palabra {
    background-color: rgb(242, 164, 245);
    height: 11%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*STYLE para container-letras*/
.container-letras {
    background-color: yellowgreen;
    width: 90%;
    height: 50%;
}
/*STYLE para container-lineas*/
.container-lineas {
    width: 90%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.guion {
    display: flex;
    height: 100%;
    width: 10%;
    background-color: #0A3871;
}
/*STYLE PARA container-botones*/
.container-botones {
    background-color: rgb(156, 141, 211);
    height: 10%;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.boton {
    display: flex;
    width: 43%;
    background-color: #D8DFE8;
    height: 2.5rem;
    border-radius: 24px;
    border-color: #0A3871;
    color: #0A3871;
}

#nuevoJuego {
    background-color: #0A3871;
    color: white;
    border: none;
}

@media (max-width: 810px) {
    body {
        height: 1060px;
    }

    main {
        height: 90%;
    }

    form .ingresarTexto {
        width: 90%;
        height: 40%;
    }

    form .container-botones {
        width: 100%;
        height: 5.5%;
        justify-content: space-around;
    }

    .boton {
        width: 45%;
        height: 100%;
        margin: 0;
    }
}

@media(max-width: 428px) {
    body {
        height: 926px;
    }

    form .container-botones {
        height: 15%;
        flex-direction: column;
    }

    .boton {
        width: 100%;
        margin: auto;
        height: 40%;
    }
}