body {
    height: 600px;
}

header {
    height: 10%;
}

.logo {
    width: 6rem;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80%;
}

form {
    margin: 0 auto;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container-ahorcado-e-input {
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

/*STYLE PARA container-ahorcado*/
.container-ahorcado {
    height: 95%;
    width: 50%;
    max-width: 235px;
}

#graficoAhorcado {
    height: 100%;
    width: 100%;
}

.container-input-y-mensaje {
    height: 60%;
    width: 40%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}

.container-input {
    height: fit-content;
}

form .container-input-y-mensaje .mensaje {
    font-size: 1.5rem;
    color: red;
}

form .container-input-y-mensaje .ganaste {
    font-size: 1.5rem;
    color: green;
}

/*STYLE PARA container-palabra*/
.container-palabra {
    height: 7%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*STYLE para container-letras*/
.container-letras {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-letra {
    height: 100%;
    width: 10%;
    color: #0A3871;
    text-align: center;
}
/*STYLE para container-lineas*/
.container-lineas {
    width: 90%;
    height: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.guion {
    display: flex;
    height: 5px;
    width: 8%;
    background-color: #0A3871;
}

.container-letras-incorrectas {
    background-color: #ecebeb;
    width: 70%;
    height: 7%;
    text-align: center;
    color: #0A3871;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*STYLE PARA container-botones*/
.container-botones {
    height: 10%;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.boton {
    display: flex;
    width: 43%;
    background-color: #D8DFE8;
    height: 2.5rem;
    border-radius: 24px;
    border-color: #0A3871;
    color: #0A3871;
}

#nuevoJuego {
    background-color: #0A3871;
    color: white;
}

#nuevoJuego:hover, #desistir:hover {
    transition: 0.5s;
    opacity: 0.7;
    width: 45%;
    height: 2.8rem;
}

#nuevoJuego:active, #desistir:active {
    width: 44%;
    height: 2.7rem;
    opacity: 1;
    transition: 0.5s;
}

#desistir:hover {
    background-color: #0A3871;
    opacity: 0.5;
    color:#edf2f8;
}

#desistir:active {
    background-color: #D8DFE8;
    color: #0A3871;
    border-color: #0A3871;
    opacity: 1;
}



/*Para iPad*/
@media (max-width: 810px) {
    body {
        height: 1060px;
    }

    header {
        display: flex;
        align-items: center;
    }

    header .logo {
        height: 3rem;
    }

    main {
        height: 80%;
    }

    form {
        justify-content: space-evenly;
    }

    form .container-ahorcado-e-input {
        height: 60%;
        width: 80%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    form .container-ahorcado {
        width: 30vw;
        height: 50vw;
    }

    form .container-input-y-mensaje {
        height: 5vw;
        flex-direction: row;
        width: 50vw;
        justify-content: space-around;
    }

    form .ingresarTexto {
        width: 90%;
        height: 40%;
    }

    form .container-botones {
        width: 100%;
        height: 5.5%;
        justify-content: space-around;
    }

    .boton {
        width: 45%;
        height: 100%;
        margin: 0;
    }

    #nuevoJuego:hover, #desistir:hover {
        width: 47%;
        height: 105%;
    }

    #nuevoJuego:active, #desistir:active {
        width: 46%;
        height: 102%;
    }
}

@media(max-width: 428px) {
    body {
        height: 926px;
    }

    main {
        height: 70%;
    }

    form .container-ahorcado {
        width: 40vw;
        height: 70vw;
        max-width: 300px;
    }

    form .container-input-y-mensaje {
        flex-direction: column;
        height: 15vw;
    }

    form .container-palabra {
        width: 90%;
    }

    form .container-letras-incorrectas {
        width: 90%;
    }

    form .container-botones {
        height: 15%;
        flex-direction: column;
        width: 90%;
    }

    .boton {
        width: 100%;
        margin: auto;
        height: 40%;
    }

    #nuevoJuego:hover, #desistir:hover {
        width: 100%;
        height: 45%;
    }

    #nuevoJuego:active, #desistir:active {
        height: 43%;
    }
}