body {
    height: 600px;
}

header {
    height: 10%;
}

.logo {
    width: 6rem;
}

.main {
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.containerBotones {
    margin: auto;
}

.boton {
    font-size: 14px; 
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    border-radius: 13px;
    /*text-align: center;*/
    /*justify-content: center;*/ 
}

#iniciarJuego {
    height: 4rem;
    width: 15rem;
    font-size: 17px;
    border-radius: 19px;
    background-color: #0A3871;
    color: white;
    justify-content: center;
}

#agregarNuevaPalabra {
    height: 2rem;
    width: 12rem;
    color: #0A3871;
    background-color: #D8DFE8;
    border-color: #0A3871;
}

#iniciarJuego:hover, #agregarNuevaPalabra:hover {
    transition: 0.5s;
    opacity: 0.7;
    width: 16rem;
    height: 5rem;
}

#iniciarJuego:active, #agregarNuevaPalabra:active {
    width: 15rem;
    height: 4rem;
    opacity: 1;
    transition: 0.5s;
}

#agregarNuevaPalabra:hover {
    background-color: #0A3871;
    opacity: 0.5;
    color:#edf2f8;
    width: 14rem;
    height: 2.5rem;
}

#agregarNuevaPalabra:active {
    background-color: #D8DFE8;
    color: #0A3871;
    border-color: #0A3871;
    opacity: 1;
    width: 13rem;
    height: 2rem;
}
