body {
    height: 600px;
}

header {
    height: 10%;
}

.logo {
    width: 6rem;
}

.main {
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.containerBotones {
    margin: auto;
}

.boton {
    font-size: 17px; 
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    text-align: center;
    /* justify-content: center; */
}

#iniciarJuego {
    height: 4rem;
    width: 15rem;
    background-color: #0A3871;
    color: white;
    justify-content: center;
}

#agregarNuevaPalabra {
    height: 2rem;
    width: 12rem;
}
