header {
    padding: 3vh 0;
}

.logo {
    width: 6rem;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20vh 0;
    margin:2vh 0;
}

.containerBotones {
    padding: 4vh 0;
}

.boton {
    font-size: 14px; 
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    border-radius: 13px;
    /*text-align: center;*/
    justify-content: center;
}

#iniciarJuego {
    height: 4rem;
    width: 15rem;
    font-size: 17px;
    border-radius: 19px;
    background-color: #0A3871;
    color: white;
    /*justify-content: center;*/
}

#agregarNuevaPalabra {
    height: 2rem;
    width: 12rem;
    color: #0A3871;
    background-color: #D8DFE8;
    border-color: #0A3871;
}

#iniciarJuego:hover, #agregarNuevaPalabra:hover {
    transition: 0.5s;
    opacity: 0.7;
    width: 16rem;
    height: 5rem;
}

#iniciarJuego:active, #agregarNuevaPalabra:active {
    width: 15rem;
    height: 4rem;
    opacity: 1;
    transition: 0.5s;
}

#agregarNuevaPalabra:hover {
    background-color: #0A3871;
    opacity: 0.5;
    color:#edf2f8;
    width: 14rem;
    height: 2.5rem;
}

#agregarNuevaPalabra:active {
    background-color: #D8DFE8;
    color: #0A3871;
    border-color: #0A3871;
    opacity: 1;
    width: 13rem;
    height: 2rem;
}

@media (max-width: 767px) {

    header {
        padding: 2vh 0;
    }

    .logo {
        width: 7rem;
    }

    .main {
        padding: 0 2vw 0;
        height: 75vh;
    }

    .form .container-input-y-mensaje {
        margin-top: 1.5rem;
    }

    .container-palabra {
        width: 70vw;
    }

    .container-letras-incorrectas {
        height: 4vh;
        margin: 1rem;
    }

    .container-botones {
        width: 75vw;
        margin: 1rem 0 0;
        height: 2.5rem;
    }
    
    .boton {
        font-size: 12px;
        margin: 0.5rem auto;
    }
    
    #iniciarJuego {
        max-height: 4rem;
        height: 9vh;
    }

    #agregarNuevaPalabra {
        max-height: 2rem;
        height: 10vh;
    }
}
